<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_Authentication">
					<security mode="Transport" />
				</binding>
				<binding name="BasicHttpBinding_DocumentManagement" messageEncoding="Mtom">
					<security mode="Transport" />
				</binding>
				<binding name="BasicHttpBinding_ContentService" messageEncoding="Mtom">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
	<appSettings>
		<add key="debug" value="false" />
		<add key="debuglibrary" value="Victorville District" />
		<add key="edmrmintegration" value="true" />
		<add key="edmrmfailpauseminutes" value="10" />
		<add key="edmrmmaxretries" value="5" />
		<add key="environment" value="PROD" />
		<add key="LogPath" value="Logs" />
		<add key="username" value="workITReporter" />
		<add key="password" value="6c4fe*BjM" />
		<add key="csurl" value="https://ecm.sce.eix.com/otcs/llisapi.dll" /> 
		<add key="csWR" value="135659076" />
		<add key="EDSR_id" value="6099707" />
		<add key="EDMA_id" value="6099703" />
		<add key="CCUM_id" value="22644322" /> 
		<add key="CCUN_id" value="22644323" />
		<add key="ETMA_id" value="6099730" />
		<add key="ETSR_id" value="6099734" />
		<add key="archive" value="Archived" />
		<add key="failed" value="Failed" />
		<add key="Email-Login" value="WorkIT_Report@sce.com" />
		<add key="SuccessHoursThreshold" value="36" />
		<add key="Email-Host" value="smtp.sce.com" />
		<add key="Email-Port" value="25" />
		<add key="Email-Password" value="" />
		<add key="Email-EnableSsl" value="false" />
		<add key="Email-Recipients" value="jayabharathy.pillai@sce.com;anjaly.malayanna@sce.com;chinmaya.thattankandi@sce.com;brett.sanders@sce.com;WorkIt-eDMRM-DocumentsArchivalStatus-Report@Sce.com" />
		<!-- PRD-->
		<add key="SPUserName" value="work.it@sce.com" />
		<add key="SPPassword" value="vLyk_38$HX69f" />
		<add key="SPSite" value="https://edisonintl.sharepoint.com/teams/WorkIT-TD" />

	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
